<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <script src="{% static 'js/main.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {% block content %}{% endblock content %}


</body>
</html>