{% extends "base.html" %}

{% block title %}{{ Index }}{% endblock %}
{% block content %}

{% load static %}

<script>

</script>
<div id="main">
    <div class="row">
        {% for street_date in data %}
           <div class="col">{{street_date.date}}</div><div class="col">{{street_date.stop_and_search}}</div>
        {% endfor %}

    </div>
</div>
{% endblock %}